body {
    width: 100% !important;
    padding-bottom: 100px;
}
* {
    float: none !important;
    max-width: 100% !important;
    height: auto !important;
}

#shrinkr-controls {
    background: #F59611;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
}
#shrinkr-controls:after {
    content: '';
    display: table;
    clear: both !important;
}
#shrinkr-controls a {
    display: block;
    box-sizing: border-box;
    width: 50%;
    float: left !important;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    color: white;
}
#shrinkr-controls a:first-of-type {
    border-right: 2px solid black;
}
#shrinkr-controls li {
    margin-bottom: 4px;
}

#shrinkr-menu {
    background: #F59611;
    padding: 10px;
    display: none;
    font-size: 16px;
}
#shrinkr-menu a {
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
}

#shrinkr-menu * {
    display: block !important;
    position: relative !important;
}